apiVersion: apps/v1
kind: Deployment
metadata:
  name: portfolio-deployment
  labels:
    app: portfolio
spec:
  replicas: 2
  selector:
    matchLabels:
      app: portfolio
  template:
    metadata:
      labels:
        app: portfolio
    spec:
      containers:
      - name: portfolio-app
        image: my-portfolio-app:latest # Ganti dengan nama image Docker Anda
        imagePullPolicy: IfNotPresent # Gunakan image lokal jika ada
        ports:
        - containerPort: 3000
        env:
        - name: NEXT_PUBLIC_ADMIN_USERNAME
          value: "admin" # Pertimbangkan menggunakan ConfigMap atau Secret untuk produksi
        - name: NEXT_PUBLIC_ADMIN_PASSWORD
          value: "password" # Pertimbangkan menggunakan Secret untuk produksi
